.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    padding: 10px;
}

.stack-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* background: var(--primary-100); */
    background: #d4f7f7A0;
    /* border: 5px solid var(--primary-800); */
    /* background-image: url("../../public/backgroundblur.png"); */
    /* background-position: center; */
    border-radius: 10px;
    padding: 30px 15px;

    box-shadow: 0px 0px 50px 50px rgba(100%, 100%, 100%, 0.4);

    z-index: 3;

    backdrop-filter: blur(3px);
}

.wide {
    grid-column: span 2;
}

.extrawide {
    grid-column: span 3;
}

.display {
    font-family: 'Syne';
    font-weight: 500;
    font-size: 2em;

    color: var(--primary-900);

    text-align: right;

    padding: 12px 30px;
    margin: 12px 12px;

    border: 2px solid var(--primary-900);
    border-radius: 10px;
    background: var(--neutral-50);

    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.25);
}